<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
    <link rel="shortcut icon" type="image/svg" href="favicon.svg"/>
    <meta property="og:title" content="Cities" />
    <meta property="og:type" content="website" />  
    <meta property="og:url" content="/" />
    <meta property="og:image" content="/image.jpg" />
</head>
<body>
    <h2>Hello World!</h2>
    <div>And here is your random city: {{ city }} from {{ province }} in {{ country }} </div>
    <div><a target="_blank" rel="noopener noreferrer" href="https://github.com/moznuy/zappaTestCities">Sources</a></div>
</body>
</html>
